.log-in {
    margin-left: 700px!important;
    position: relative;
}

.flowers {
    height: 40px;
    width: 60px;
    margin-right: 0px;
}

#index {
    background-image: url("../assets/images/sunset.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}