.log-in {
    margin-left: 700px!important;
    position: relative;
}

.flowers {
    height: 40px;
    width: 60px;
    margin-right: 0px;
    border-radius:50%;
}

#index {
    background-image: url("../assets/images/sunset.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

#results {
    background-image: url("../assets/images/romance-blue-orange.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

#review {
    background-image: url("../assets/images/purple-glitter.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}